/*============ Animations ============*/
/* Pulse Grow */
@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* Buzz Out  */
@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@-webkit-keyframes sparkle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sparkle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes sparkle_1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0) rotate(-45deg);
            transform: scale(0) rotate(-45deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sparkle_1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0) rotate(-45deg);
            transform: scale(0) rotate(-45deg);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes sparkle_2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sparkle_2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}